.card {
  height: 104px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid var(--color-border-def);
  border-radius: 8px;
  transition: box-shadow 0.3s, border-color 0.3s;
}

.card__select {
  border: 0.5px solid var(--color-border-select-card);
}

.card__visible {
  border: 1px solid var(--color-border-visible);
}

.card__number {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.card:hover {
  cursor: pointer;
  box-shadow: var(--color-shadow);
}